<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en-gb">
		<title>Builder | Jessie</title>
		{% include "partials/css.html" %}
	</head>
	<body>
		<div id="container">
			<div id="builder">
				<form method="get" action="/builder/">
					<input style="position: absolute; left:-999em;" type="submit" name="action" value="Download">
					<div class="header">
						<h1>Builder</h1>
					</div>

					{% include "partials/options.html" %}
					{% include "partials/errors.html" %}
					{% include "partials/filters.html" %}
					{% include "partials/groupIndex.html" %}
					{% include "partials/functions.html" %}
					{% include "partials/constructors.html" %}
					{% include "partials/footer.html" %}
				</form>
			</div>
		</div>
		<!-- build:js(src/builder) /public/js/builder.min.js -->
		<script type="text/javascript" src="/public/js/ui-enhance.js"></script>
		<!-- endbuild -->
		<script type="text/javascript">
			{% for constructorFn in constructorFns %}
				uiEnhance.constructorMethodCheckboxes("{{constructorFn.name}}");
			{% endfor %}
		</script>
	</body>
</html>