<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en-gb">
		<title>Jessie - Build your own Jessie</title>
		<!-- build:css(src/builder) /public/css/jessie.min.css -->
		<link rel="stylesheet" type="text/css" href="/public/css/global.css">
		<link rel="stylesheet" type="text/css" href="/public/css/home.css">
		<link rel="stylesheet" type="text/css" href="/public/css/builder.css">
		<!-- endbuild -->
		<!-- build:css(src/builder) /public/css/ie6.min.css -->
		<!--[if IE 6]><link rel="stylesheet" href="/public/css/ie6.css" type="text/css" /><![endif]-->
		<!-- endbuild -->
	</head>
	<body>
		<div id="container">
			<div id="builder">
				<form method="get" action="/builder/">
					<input style="position: absolute; left:-999em;" type="submit" name="action" value="Download">
					<div class="header">
						<h1>Build your own Jessie</h1>
					</div>

					{% include "partials/errors.html" %}
					{% include "partials/options.html" %}
					{% include "partials/filters.html" %}
					{% include "partials/groupIndex.html" %}
					{% include "partials/functions.html" %}
					{% include "partials/constructors.html" %}
					{% include "partials/footer.html" %}
				</form>
			</div>
		</div>
		<!-- build:js(src/builder) /public/js/jessie.min.js -->
		<script type="text/javascript" src="/public/js/ui-enhance.js"></script>
		<!-- endbuild -->
		<script type="text/javascript">
			{% for constructorFn in constructorFns %}
				uiEnhance.constructorMethodCheckboxes("{{constructorFn.name}}");
			{% endfor %}
		</script>
	</body>
</html>