<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en-gb">
		<meta name="viewport" content="initial-scale=1.0">
		<title>Jessie</title>
		{% include "partials/css.html" %}
	</head>
	<body>
		<div id="container">
			<div id="home">
				<h1>Jessie</h1>

				<!-- <h2>Build your own Jessie to your exact project requirements</h2> -->

				<p class="get"><a href="/builder/">Create your own Jessie</a></p>

				<p class="because">Because you're only as good as your lowest level function.</p>
			</div>
		</div>

	</body>
</html>