<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="en-gb">
		<title>Jessie</title>
		<!-- build:css(src/builder) /public/css/jessie.min.css -->
		<link rel="stylesheet" type="text/css" href="/public/css/global.css">
		<link rel="stylesheet" type="text/css" href="/public/css/home.css">
		<link rel="stylesheet" type="text/css" href="/public/css/builder.css">
		<!-- endbuild -->
		<!-- build:css(src/builder) /public/css/ie6.min.css -->
		<!--[if IE 6]><link rel="stylesheet" href="/public/css/ie6.css" type="text/css" /><![endif]-->
		<!-- endbuild -->
	</head>
	<body>
		<div id="container">
			<div id="home">
				<h1>Jessie</h1>

				<!-- <h2>Build your own Jessie to your exact project requirements</h2> -->

				<p class="get"><a href="/builder/">Get Jessie</a></p>

				<p class="because">Because you're only as good as your lowest level function.</p>
			</div>
		</div>

	</body>
</html>