<div id="errors">
	<div class="errorsInner">
		<h2>You have errors:</h2>
		<% for(var i = 0; i < errors.length; i++) { %>
			<p><%=errors[i].message%>
				<% if(errors[i].link) { %>
					<a href="<%=errors[i].link%>">Go</a>
				<% } %>
			</p>
		<% } %>
	</div>
</div>