<div id="functions">
	{% for currentGroup in groups %}
		{% set functions = currentGroup.functions %}

		<!-- <div class="groupHeading">
			<h3 id="group_{{loop.index}}">
				(<a href="#groupIndex">Index</a>)
				Group: {{currentGroup.groupName}} ({{currentGroup.functions.length}})
			</h3>
		</div> -->

		{% for currentFunction in functions %}

			<div class="function" id="{{currentFunction.name}}">
				<h2 class="name">{{currentFunction.name}}</h2>
				{% if (currentFunction.renditions.length > 1) %}
					<p class="info">Choose the most suitable rendition for your project.</p>
				{% endif %}

				{% if (currentFunction.renditions.length) %}

					{% set anyChecked = false %}

					{% for currentRendition in currentFunction.renditions %}

						<div class="rendition">
							<div class="control">
								<input
									id="{{currentFunction.name+currentRendition.id}}"
									type="radio"
									name="{{currentFunction.name}}"
									value="{{currentRendition.id}}"

									{% if (query[currentFunction.name] == currentRendition.id) %}
										{% set anyChecked = true %}
										checked
									{% endif %}
								>
								<label for="{{currentFunction.name+currentRendition.id}}" >
									{{currentRendition.description}}
									{% if (currentRendition.degrades) %}
										<span class="degrades"> &mdash; Degrades in {{currentRendition.degrades}}</span>
									{% endif %}
 								</label>
							</div>

							<div class="description">
								{{currentRendition.description|markdown}}
							</div>
							<div class="code">
								<pre><code>{{currentRendition.contents}}</code></pre>
							</div>
							<p class="seeAlso">{{currentRendition.seeAlso}}</p>
						</div>
					{% endfor %}
					<div class="none">
						<div class="control">
							<input
								type="radio"
								id="{{currentFunction.name}}_none"
								name="{{currentFunction.name}}"
								value=""
								{% if (!anyChecked) %}
									checked
								{% endif %}
							>
							<label for="{{currentFunction.name}}_none">Don't need this for my project</label>
						</div>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	{% endfor %}
</div>