<div class="options">
	<div class="standardControl">
		<div class="indicator">
			<label for="namespace">Namespace</label>
		</div>
		<div class="control">
			<input class="text" placeholder="e.g. superlib" id="namespace" name="namespace" type="text" {% if (query && query.namespace) %} value="{{query.namespace}}" {% endif %} >
		</div>
	</div>
	<div class="groupControl">
		<fieldset>
			<legend>Minification settings</legend>
			<div cl>
				<input
					type="radio"
					name="minificationLevel"
					id="minification_0"
					value=""
					{% if (query.minificationLevel || query.minificationLevel == '') %}
						checked
					{% endif %}
				>
				<label for="minification_0">No minification</label>
			</div>
			<div>
				<input
					type="radio"
					name="minificationLevel"
					value="1"
					id="minification_1"
					{% if (query && query.minificationLevel == '1') %}
						checked
					{% endif %}
				>
				<label for="minification_1">Remove comments</label>
			</div>
			<div>
				<input
					type="radio"
					name="minificationLevel"
					value="2"
					id="minification_2"
					{% if (query && query.minificationLevel == '2') %}
						checked
					{% endif %}
				>
				<label for="minification_2">Remove comments AND whitespace</label>
			</div>
			<div>
				<input
					type="radio"
					name="minificationLevel"
					value="3"
					id="minification_3"
					{% if (query && query.minificationLevel == '3') %}
						checked
					{% endif %}
				>
				<label for="minification_3">Remove comments AND whitspace AND shorten variable names</label>
			</div>
		</fieldset>
	</div>
	<div class="checkboxControl">
		<input id="scaffolding" name="scaffolding" type="checkbox" {% if (query && query.scaffolding == 'on') %} checked {% endif %}>
		<label for="scaffolding">Throw errors when incorrectly used</label>
	</div>