#builder {
	padding-bottom: 70px;
}

#actions {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	padding: 10px;
}

/*********************************************
* Error jumper
*********************************************/

.errorJumper {
	padding: 10px 20px;
	display: block;
	bottom: 10px;
	left: 10px;
	z-index: 1;
	background-color: #F44336;
	color: #fff;
	text-decoration: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 3px;
	border: 0;
	font-size: 1em;
	font-family: arial;
	text-transform: uppercase;
	float: left;
}

.errorJumper:hover {
	box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
}

/*********************************************
* Download button
*********************************************/

.download {
	float: right;
	padding: 10px 20px;
	display: block;
	bottom: 10px;
	right: 10px;
	z-index: 1;
	background-color: #FF5722;
	color: #fff;
	text-decoration: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 3px;
	border: 0;
	font-size: 1em;
	font-family: arial;
	text-transform: uppercase;
}

.download:hover {
	box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
}

/*********************************************
* Header
*********************************************/

.header {
	background-color: #FF9800;
	padding: 30px 20px;
	position: relative;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

@media (min-width: 860px) {
	#builder .headerInner {
		margin-left: auto;
		margin-right: auto;
		width: 820px;
	}
}

.header h1 {
	color: #fff;
	font-weight: normal;
	font-size: 1.8em;
}

.header p {
	color: #FFE0B2;
}

/*********************************************
* Errors
*********************************************/

#errors {
	background-color: #F44336;
}

.errorsInner {
	padding: 30px 20px;
}

@media (min-width: 860px) {
	.errorsInner {
		margin-left: auto;
		margin-right: auto;
		width: 820px;
	}
}

#errors h2 {
    font-size: 1em;
    margin: 5px 0 10px;
    font-weight: normal;
    color: #fff;
}

#errors p {
	font-size: 0.9em;
    margin: 5px 0;
    color: #FFCDD2;
}

#errors p a {
	color: #FFCDD2;
}

/*********************************************
* Options
*********************************************/

.options {
}

.optionsInner {
	padding: 30px 20px 10px;
	border-bottom: 1px solid #DADADA;
}

@media (min-width: 860px) {
	.optionsInner {
		margin-left: auto;
		margin-right: auto;
		width: 820px;
	}
}

/*********************************************
* Functions
*********************************************/

.function {
	padding: 30px 20px 10px;
	border-bottom: 1px solid #DADADA;
}

@media (min-width: 860px) {
	.function {
		margin-left: auto;
		margin-right: auto;
		width: 820px;
	}
}

.function .name {
	margin-bottom: 20px;
	color: #F57C00;
	font-weight: normal;
	font-size: 1.5em;
}

.rendition {
	padding-bottom: 20px;
}

.rendition .control {
}

.rendition .description {
	margin-bottom: 10px;
	display: none;
}

.rendition .degrades {
	font-size: 0.7em;
}

.rendition .degrades h4 {
	font-size: 1em;
	margin-bottom: 3px;
	font-weight: normal;
}

.rendition .degrades p {
	font-size: 0.8em;
}

.rendition .code {
	display: none;
}

.none {
	padding-bottom: 20px;
}

.rendition .seeAlso {
	display: none;
}

/*********************************************
* Actions
*********************************************/

.actions {

}

/*********************************************
* Other
*********************************************/



#degradesIEFilter {
	width: 270px;
}

#groupIndex ul {
	padding-left: 20px;
}

#groupIndex ul li {
	margin-bottom: 3px;
	font-size: 80%;
}





#builder table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

#builder table thead th {
	text-align: left;
	font-size: 80%;
	vertical-align: top;
	border: 1px solid #0489e8;
	padding: 7px;
	background-color: #40a8f7;
	color: #fff;
}

#builder table thead tr td {
	background-color: #f5f5f5;
}

#builder table tbody:nth-child(even) tr td {
	background-color: #d1ebff;
}

#builder table tr td {
	border: 1px solid #0489e8;
	font-size: 80%;
	padding: 7px;
	vertical-align: top;
	background-color: #e3f1fc;
}

#builder table tbody tr td code {
	background-color: #fff;
	display: inline-block;
	padding: 3px 2px 2px;
	font-size: 120%;
}

#builder .actions {
	float:right;
	background-color: #f5f5f5;
}

#builder .actions input {
	margin: 0 auto;
	display: block;
}

#builder .methods {
	list-style-type: none;
	margin: .5em 0;
}

#builder input[type=checkbox][disabled] + label {
	color: #5c5c5c;
}