
#builder {
	position: relative;
	padding-bottom: 65px;
	margin: 0 20px;
}

@media (min-width: 820px) {
	#builder {
		width: 800px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
	}
}

#builder h1 {
	margin-bottom: 20px;
	margin-top: 20px;
}

#builder .options {
	background-color: #f5f5f5;
	border: 1px solid #eee;
	padding: 20px 20px 0;
	margin-bottom: 20px;
}

#builder .function {
	background-color: #f5f5f5;
	border: 1px solid #eee;
	padding: 20px 20px 0;
	margin-bottom: 20px;
}


#builder .footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: #f5f5f5;
	border-top: 1px solid #ccc;
}

#builder .footer p {
	float: left;
	font-size: 80%;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

#builder .footer p a {
	color: #000;
}

#groupIndex {
	width: 98%;
	margin: 0 auto 20px auto;
	display: block;
}

#groupIndex,
.filters {
	display: none;
}

#errors {
	padding: 20px;
	background-color: #ED9F9F;
	margin-bottom: 20px;
}

#errors h2 {
    font-size: 0.9em;
    margin: 5px 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #A32121;
}

#errors p {
	font-size: 0.9em;
    margin: 5px 0;
    color: #A32121;
}

#errors p a {
	color: #A32121;
}

#namespace {
	width: 270px;
}

#degradesIEFilter {
	width: 270px;
}

#groupIndex ul {
	padding-left: 20px;
}

#groupIndex ul li {
	margin-bottom: 3px;
	font-size: 80%;
}

#functions h2 {
	margin-bottom: 20px;
}

.function .name {
	font-size: 1.2em;
	margin: 0 0 20px;
}

.rendition {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.rendition .control {
	margin-bottom: 20px;
}

.rendition .description {
	margin-bottom: 10px;
	display: none;
}

.rendition .degrades {
	margin-bottom: 20px;
}

.rendition .degrades h4 {
	text-transform: uppercase;
	font-size: 0.9em;
	margin-bottom: 3px;
}

.rendition .degrades p {
	font-size: 0.8em;
}

.none {
	padding-bottom: 20px;
}

.rendition .seeAlso {
	display: none;
}



#builder table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

#builder table thead th {
	text-align: left;
	font-size: 80%;
	vertical-align: top;
	border: 1px solid #0489e8;
	padding: 7px;
	background-color: #40a8f7;
	color: #fff;
}

#builder .code {
	overflow: auto;
	background-color: #fff;
	height: 80px;
	margin-bottom: 10px;
	width: 60%;
}


#builder table thead tr td {
	background-color: #f5f5f5;
}

#builder table tbody:nth-child(even) tr td {
	background-color: #d1ebff;
}

#builder table tr td {
	border: 1px solid #0489e8;
	font-size: 80%;
	padding: 7px;
	vertical-align: top;
	background-color: #e3f1fc;
}

#builder table tbody tr td code {
	background-color: #fff;
	display: inline-block;
	padding: 3px 2px 2px;
	font-size: 120%;
}

#builder .actions {
	float:right;
	background-color: #f5f5f5;
}

#builder .actions input {
	margin: 0 auto;
	display: block;
}

#builder .methods {
	list-style-type: none;
	margin: .5em 0;
}

#builder input[type=checkbox][disabled] + label {
	color: #5c5c5c;
}