#home h1 {
	margin: 100px 20px 20px;
	text-align: center;
	font-size: 3em;
}

#home .get a {
	display: block;
	font-size: 2em;
	padding: 20px 40px;
	background-color: orange;
	color: white;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
	margin: 0 auto;
	width: 280px;
}

#home .because {
	font-size: 2em;
	margin: 20px 2em;
	color: #888;
	text-align: center;
	font-style: italic;
}