#home h1 {
	margin: 80px 20px 20px;
	text-align: center;
	font-size: 3em;
	font-weight: normal;
}

#home .get a {
	display: block;
	font-size: 1.6em;
	padding: 20px 20px;
	background-color: #FF5722;
	color: white;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	margin: 0 auto;
	width: 260px;
}

#home .because {
	font-size: 2em;
	margin: 20px 2em;
	color: #888;
	text-align: center;
	font-style: italic;
}