<div class="footer">
	<% if (errors.length > 0) { %>
		<p><a href="#errors">Errors</a> (<%=errors.length%>)</p>
	<% } %>
	<p><a href="#groupIndex">Groups</a></p>
	<div class="actions">
		<input type="submit" value="Download" name="action">
	</div>
</div>