body, h1, h2, p {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
}

#container {

}

h1 {
	color: #444;
	font-size: 120%;
}

#builder {
	position: relative;
	padding-bottom: 65px;
}

#builder .footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: #f5f5f5;
	border-top: 1px solid #ccc;
}

#builder .footer p {
	float: left;
	font-size: 80%;
}

#builder .footer p a {
	color: #000;
}

#builder .header {
	margin-bottom: 20px;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

#builder .header h1 {
	float: left;
}

#builder .errors {
	width: 97%;
	margin: 0 auto 20px auto;
	display: block;
	
	
}

#builder .errors .errorsInner {
	padding: 10px;
	background-color: #e54444;
	border: 1px solid #930000;
}

#builder .errors h2 {
	font-size: 80%;
	color: #fff;
	margin-bottom: 5px;
}

#builder .errors p {
	font-size: 80%;
	color: #fff;
	margin-bottom: 5px;
}

#builder .errors p a {
	color: #fff;
}

#builder .options {
	width: 97%;
	margin: 0 auto;
}

#builder .options h2 {
	font-size: 90%;
	margin-bottom: 10px;
}

#functions {
	width: 97%;
	margin: 0 auto;
}

#functions h2 {
	font-size: 90%;
	margin-bottom: 10px;
}

#constructors {
	width: 97%;
	margin: 0 auto;
}

#constructors h2 {
	font-size: 90%;
	margin-bottom: 10px;
}

#builder table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

#builder table thead {

}

#builder table .thead th,
#builder table thead th {
	text-align: left;
	font-size: 80%;
	vertical-align: top;
	border: 1px solid #0489e8;
	padding: 7px;
	background-color: #40a8f7;
	color: #fff;
}

#builder table .function {
	width: 200px;
}

#builder table .rendition {
	width: 70px;
}

#builder table .selection {
	width: 70px;
}

#builder table .degrades {
	width: 300px;
}

#builder table tbody {

}

#builder table tbody tr {
	
}

#builder table tbody:nth-child(even) tr td {
	background-color: #d1ebff;
}

#builder table tbody tr td {
	border: 1px solid #0489e8;
	font-size: 80%;
	padding: 7px;
	vertical-align: top;
	background-color: #e3f1fc;
}

#builder table tbody tr td code {
	background-color: #fff;
	display: inline-block;
	padding: 3px 2px 2px;
	font-size: 120%;
}

#builder .actions {
	float:right;
	background-color: #f5f5f5;
}

#builder .actions input {
	margin: 0 auto;
	display: block;
}