body, h1, h2, p {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
}

#container {

}

h1 {
	color: #444;
	font-size: 20px;
}

#builder {
	position: relative;
	padding-top: 45px;
}

#builder .header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: #f5f5f5;
	border-bottom: 1px solid #b0d7f4;
	padding: 10px;
}

#builder .header h1 {
	float: left;
}

#builder .errors {
	padding: 10px;
	color: red;
	background-color: #ffe0e0;
	border-bottom: 1px solid #B0D7F4;
}

#builder .function {
	border-bottom: 1px solid #b0d7f4;
	padding: 10px 10px 0px 10px;
	background-color: #d1ebff;
}

#builder .function h2 {
	font-size: 16px;
	color: #1c91ea;
	margin-bottom: 15px;
}

#builder .function .rendition {
	overflow: hidden;
	margin-bottom: 20px;
}

#builder .function .rendition > p {
	float: left;
	font-size: 12px;
	margin-top: 3px;
	margin-right: 4px;
}

#builder .function .rendition input {
	float: left;
	margin-right: 10px;
}

#builder .function .rendition label {
	float: left;
	width: 70%;
}

#builder .function .rendition label p {
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 10px;
}

#builder .function .rendition label p code {
	color: #1C91EA;
}


#builder .function .rendition pre {
	width: 80%;
	background-color: #f5f5f5;
	max-height: 250px;
	overflow: auto;
	padding: 10px;
}

#builder .actions {
	float:right;
	background-color: #f5f5f5;
}

#builder .actions input {
	margin: 0 auto;
	display: block;
	width: 200px;
}

#builder .errors {
	padding-left: 10px;
	padding-right: 10px;
}

#builder .errors .functionName {

}