body, h1, h2, p {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
}

h1 {
	color: #444;
	font-size: 120%;
}

#builder {
	position: relative;
	padding-bottom: 65px;
}

#builder .footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: #f5f5f5;
	border-top: 1px solid #ccc;
}

#builder .footer p {
	float: left;
	font-size: 80%;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

#builder .footer p a {
	color: #000;
}

#builder .header {
	margin-bottom: 20px;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

#builder .header h1 {
	float: left;
}

#errors,
#groupIndex {
	width: 98%;
	margin: 0 auto 20px auto;
	display: block;	
}

#errors .errorsInner {
	padding: 10px;
	background-color: #e54444;
	border: 1px solid #930000;
}

#errors h2 {
	font-size: 80%;
	color: #fff;
	margin-bottom: 5px;
}

#errors p {
	font-size: 80%;
	color: #fff;
	margin-bottom: 5px;
}

#errors p a {
	color: #fff;
}

#builder .filters {
	width: 98%;
	margin: 0 auto;
	margin-bottom: 10px;
}

#builder .filters h2,
#groupIndex h2 {
	font-size: 90%;
	margin-bottom: 10px;
}

#builder .options {
	width: 98%;
	margin: 0 auto;
}

#builder .options h2 {
	font-size: 90%;
	margin-bottom: 10px;
}

#groupIndex {

}

#groupIndex ul {
	padding-left: 20px;
}

#groupIndex ul li {
	margin-bottom: 3px;
	font-size: 80%;
}

#functions {
	width: 98%;
	margin: 0 auto;
}

#functions h2 {
	font-size: 90%;
	margin-bottom: 10px;
}

#functions h3 {
	font-size: 85%;
	color: #0489E8;
}

#constructors,
#widgets {
	width: 98%;
	margin: 0 auto;
}

#constructors h2,
#widgets h2 {
	font-size: 90%;
	margin-bottom: 10px;
}

#widgets p {
	font-size: 80%;
}

#builder table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

#builder table thead {

}

#builder table thead th {
	text-align: left;
	font-size: 80%;
	vertical-align: top;
	border: 1px solid #0489e8;
	padding: 7px;
	background-color: #40a8f7;
	color: #fff;
}

#builder table .code {
	overflow: auto;
}

#builder table .code pre {
	margin-right: 10px;
}

#builder table .code pre code {
	overflow: auto;
	height: 150px;
	width: 98%;
}

#builder table .function {
	width: 20%;
}

#builder table .rendition {
	width: 15%;
}

#builder table .degrades {
	width: 15%;
}

#builder table .code {
	width: 50%;
}

#builder table thead tr td {
	background-color: #f5f5f5;
}

#builder table tbody {

}

#builder table tbody tr {

}

#builder table tbody:nth-child(even) tr td {
	background-color: #d1ebff;
}

#builder table tr td {
	border: 1px solid #0489e8;
	font-size: 80%;
	padding: 7px;
	vertical-align: top;
	background-color: #e3f1fc;
}

#builder table tbody tr td code {
	background-color: #fff;
	display: inline-block;
	padding: 3px 2px 2px;
	font-size: 120%;
}

#builder .actions {
	float:right;
	background-color: #f5f5f5;
}

#builder .actions input {
	margin: 0 auto;
	display: block;
}

.none {
	color: #aaa;
}

#builder .methods {
	list-style-type: none;
	margin: .5em 0;
}

#builder input[type=checkbox][disabled] + label {
	color: #5c5c5c;
}