<!DOCTYPE html>
<html>
	<head>
		<title>Jessie - Build your own Jessie</title>
		<link rel='stylesheet' type="text/css" href='../css/global.css'>
	</head>
	<body>
		<div id="container">
			<div id="builder">
				<h1>Graham your the man, do work son</h1>
				<% if (errors) { %>
					<div class="errors">
						<p>You have errors because some of the functions you have chosen have dependencies. Go back and choose a rendition for that dependency:</p>

						<% for(var i = 0; i < errors.length; i++) { %>
							<p>
								<span class="functionName"><%=errors[i].functionName%></span> 
								depends on 
								<span class="dependency"><%=errors[i].dependency%></span>
							</p>
						<% } %>
					</div>
					<p>Go <a href="/?<%=query%>">back</a></p>
				<% } %>
			</div>
		</div>
	</body>
</html>