<!DOCTYPE html>
<html>
	<head>
		<title>Jessie - Build your own Jessie</title>
		<link rel='stylesheet' type="text/css" href='../css/global.css'>
	</head>
	<body>
		<div id="container">
			<div id="builder">
				<h1>Graham your the man, do work son</h1>
				<p><%=query%></p>
			</div>
		</div>
	</body>
</html>